.form-control {
  border-radius: 6px;
  border: 1px solid var(--color-mercury);
  font-size: 16px;
  margin-top: 8px;
  font-family: 'Poppins';
}

.form-control-sm {
  padding: 14px 61px 14px 16px;
}

.form-control-lg {
  padding: 14px 0px 65px 16px;
}

.input-default {
  width: 100%;
}


